:root {
  --color-brand-50: #FEF4F1;
  --color-brand-100: #FBE2DA;
  --color-brand-200: #F7BDAC;
  --color-brand-300: #F19174;
  --color-brand-400: #F36135;
  --color-brand-500: #F4511F;
  --color-brand-600: #D13505;
  --color-brand-700: #AD2900;
  --color-brand-800: #841F00;
  --color-brand-900: #5C1600;
  --color-brand: var(--color-brand-600);
  --color-brand-hover: var(--color-brand-700);
  --color-brand-active: var(--color-brand-800);
}