:root {
  --color-neutral-50: #FFFFFF;
  --color-neutral-100: #FFFFFF;
  --color-neutral-200: #FFFFFF;
  --color-neutral-300: #FAFBFC;
  --color-neutral-400: #F2F5F7;
  --color-neutral-500: #E6E9ED;
  --color-neutral-600: #D0D3D9;
  --color-neutral-700: #000000;
  --color-blue-50: #A9AFBA;
  --color-blue-100: #7E8594;
  --color-blue-200: #515B6E;
  --color-blue-300: #3C475B;
  --color-blue-400: #142C54;
  --color-blue-500: #0000EE;
  --color-green-50: #0EA800;
  --color-navy-50: #0B2047;
  --color-navy-100: #071939;
  --color-navy-200: #121031;
  --color-navy-300: #0C1018;
  --font-size-xs: 0.750rem;
  --font-size-sm: 0.833rem;
  --font-size-base: 0.875rem;
  --font-size-lg: 1.000rem;
  --font-size-xl: 1.125rem;
  --font-size-2xl: 1.188rem;
  --font-size-3xl: 1.250rem;
  --font-size-4xl: 1.562rem;
  --font-size-5xl: 1.938rem;
  --line-height-1: 0.000rem;
  --line-height-2: 0.750rem;
  --line-height-3: 0.875rem;
  --line-height-4: 1.125rem;
  --line-height-5: 1.250rem;
  --line-height-6: 1.312rem;
  --line-height-7: 1.375rem;
  --line-height-8: 1.500rem;
  --line-height-9: 1.875rem;
  --line-height-10: 2.250rem;
  --line-height-11: 2.750rem;
  --line-height-12: 3.375rem;
  --radius-xl: 100px;
  --radius-sm: 2px;
  --radius-md: 3px;
  --radius-lg: 4px;
  --radius-circle: 50%;
  --shadow-elevation-1: rgb(128, 128, 128) 0px 0px 5px 0px;
  --shadow-elevation-2: rgb(208, 211, 217) 0px 0px 2px 0px;
  --shadow-elevation-3: rgb(208, 211, 217) 0px 1px 3px 0px;
  --shadow-elevation-4: rgba(30, 41, 61, 0.1) 0px 1px 3px 0px, rgba(30, 41, 61, 0.2) 0px 1px 2px 0px;
  --shadow-elevation-5: rgba(7, 6, 7, 0.04) 0px 2px 8px 0px, rgba(7, 6, 7, 0.03) 0px 4px 12px 0px;
  --shadow-elevation-6: rgba(7, 6, 7, 0.05) 0px 1px 4px 0px, rgba(7, 6, 7, 0.05) 0px 1px 2px 0px;
}